@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: grid;
  min-width: 320px;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444444;
  grid-template-rows: auto 1fr auto;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  display: block;
  width: 100%;
  padding: 14px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
}

.title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.header {
  position: relative;
  background-color: #f1f1f1;
}

.header--home {
  background-color: #f9f9f9;
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.nav__toggle {
  align-self: flex-end;
  min-width: 20px;
}
@media (min-width: 718px) {
  .nav__toggle {
    display: none;
  }
}
@media (min-width: 1150px) {
  .nav__toggle {
    display: none;
  }
}

.nav__logo-container {
  align-self: center;
}
@media (min-width: 718px) {
  .nav__logo-container {
    align-self: flex-start;
  }
}
@media (min-width: 1150px) {
  .nav__logo-container {
    align-self: center;
  }
}

.nav__logo {
  display: block;
  width: 86px;
  height: 35px;
  background-image: url("../img/mishka-logo-mobile.svg ");
}
@media (min-width: 718px) {
  .nav__logo {
    width: 113px;
    height: 46px;
    background-image: url("../img/mishka-logo-tablet.svg");
  }
}
@media (min-width: 1150px) {
  .nav__logo {
    align-self: center;
    width: 149px;
    height: 72px;
    background-image: url("../img/mishka-logo-desktop.svg");
  }
}

.nav__list {
  display: none;
}
@media (min-width: 718px) {
  .nav__list {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1150px) {
  .nav__list {
    display: flex;
    flex-direction: row;
  }
}

.nav__list--main {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.nav__item {
  padding: 20px;
}

.nav__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.nav__list--user {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-self: flex-end;
}

.nav__list--promo {
  display: flex;
  flex-direction: row;
}

.nav__sale-text {
  display: none;
}
@media (min-width: 718px) {
  .nav__sale-text {
    display: block;
  }
}
@media (min-width: 1150px) {
  .nav__sale-text {
    display: block;
  }
}

.topic {
  display: flex;
  flex-direction: column;
  padding: 73px 0;
  text-align: center;
  background-color: #f1f1f1;
}

.topic--home {
  position: relative;
  padding-bottom: 0;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top -17px;
}

.topic__title {
  font-size: 27px;
  line-height: 30px;
}

.topic__catalog-item {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

.promo__title {
  font-size: 25px;
  line-height: 30px;
}

.promo__type {
  font-weight: 700;
  font-size: 17px;
  color: #63d1bb;
  text-transform: uppercase;
}

.promo__text {
  font-size: 15px;
  line-height: 24px;
}

.promo__description {
  font-size: 15px;
  line-height: 20px;
}

.promo__image img {
  width: 260px;
  height: 315px;
}
@media (min-width: 718px) {
  .promo__image img {
    width: 334px;
    height: 404px;
  }
}
@media (min-width: 1150px) {
  .promo__image img {
    width: 525px;
    height: 636px;
  }
}

.promo__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.about__title {
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

@media (min-width: 718px) {
  .reviews {
    background-image: url("../img/reviews.jpg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1150px) {
  .reviews {
    background-image: url("../img/reviews.jpg");
    background-repeat: no-repeat;
  }
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.reviews__desc {
  font-size: 15px;
  line-height: 30px;
}

.reviews__name {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.reviews__email {
  font-size: 17px;
  line-height: 24px;
}

.footer {
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  background-color: #f1f1f1;
}
@media (min-width: 718px) {
  .footer {
    width: 100%;
  }
}
@media (min-width: 1150px) {
  .footer {
    width: 100%;
  }
}

.footer__wrapper {
  display: grid;
  margin: 60px;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
}

.footer__logo {
  background-image: url("../img/mishka-logo-mobile.svg");
  background-repeat: no-repeat;
}

.footer__social {
  display: grid;
  grid-template-columns: repeat(3, 50px);
}

.copyright__text {
  font-weight: 700;
  font-size: 19px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.contacts__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.contacts__list {
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}

.contacts__map-img {
  display: none;
}

.size__title {
  font-size: 25px;
  color: #000000;
  text-transform: uppercase;
  line-break: 30px;
}

.size__text {
  font-size: 15px;
  line-height: 30px;
}

.size__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}

.form {
  margin-right: 60px;
  margin-left: 60px;
}

.form__desc {
  font-size: 13px;
  line-height: 24px;
}

.form__section-name {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.form__label-text {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.form__section--check {
  background-color: #444444;
}

.form__input {
  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.form__section--contacts {
  background-color: #444444;
}

.form__hint {
  font-size: 14px;
  line-height: 16px;
}

.main {
  margin-right: 60px;
  margin-left: 60px;
}

.video__image img {
  width: 260px;
  height: 150px;
}
@media (min-width: 718px) {
  .video__image img {
    width: 668px;
    height: 455px;
  }
}
@media (min-width: 1150px) {
  .video__image img {
    width: 683px;
    height: 455px;
  }
}

.video__play {
  z-index: 1;
  background-image: url("../../img/play-mobile.svg");
}

.video__title {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.video__desc {
  font-size: 13px;
  line-height: 24px;
}

.catalog {
  width: 100%;
}

.catalog__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1150px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}

.catalog__image img {
  width: 260px;
  height: 195px;
}
@media (min-width: 718px) {
  .catalog__image img {
    width: 334px;
    height: 334px;
  }
}
@media (min-width: 1150px) {
  .catalog__image img {
    width: 316px;
    height: 462px;
  }
}

.catalog__title {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.catalog__item-desc {
  font-size: 13px;
  line-height: 30px;
}

.catalog__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */