@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: grid;
  min-width: 320px;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444444;
  grid-template-rows: auto 1fr auto;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  display: block;
  width: 100%;
  padding: 14px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
}

.title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
@media (min-width: 768px) {
  .title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .title {
    font-size: 53px;
    line-height: 57px;
  }
}
.title--main {
  text-align: center;
}

.header {
  position: relative;
  background-color: #f1f1f1;
}

.header--home {
  background-color: #f9f9f9;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  min-height: 79px;
  padding-right: 0;
  padding-left: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
@media (min-width: 768px) {
  .nav {
    position: static;
    display: grid;
    padding: 0;
    background-color: #f1f1f1;
    border: none;
    gap: 19px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1150px) {
  .nav {
    gap: 0;
    grid-template-columns: 1fr 149px 1fr;
  }
}

.nav__toggle {
  position: absolute;
  top: 29px;
  right: 31px;
  z-index: 10;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/svg/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}

.nav__logo-container {
  position: absolute;
  top: 22px;
  left: 50%;
  align-self: center;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .nav__logo-container {
    left: 48px;
    transform: none;
  }
}
@media (min-width: 1150px) {
  .nav__logo-container {
    position: static;
    padding-top: 10px;
    grid-column: 2/3;
    grid-row: 1/1;
  }
}

.nav__logo {
  display: block;
  width: 86px;
  height: 35px;
}
@media (min-width: 768px) {
  .nav__logo {
    width: 113px;
    height: 46px;
  }
}
@media (min-width: 1150px) {
  .nav__logo {
    width: 149px;
    height: 72px;
  }
}

.nav__logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.nav__list {
  display: none;
}
@media (min-width: 768px) {
  .nav__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .nav__list--main {
    display: grid;
    justify-content: start;
    gap: 38px;
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 1150px) {
  .nav__list--main {
    position: relative;
    gap: 38px;
    grid-column: 1/2;
  }
}

@media (min-width: 768px) {
  .nav__list--user {
    justify-content: end;
    order: -1;
    min-height: 89px;
    grid-column: 1/-1;
  }
}
@media (min-width: 1150px) {
  .nav__list--user {
    order: 0;
    min-height: auto;
    gap: 38px;
    grid-column: 3/4;
  }
}

.nav__list--promo {
  display: none;
}
@media (min-width: 1150px) {
  .nav__list--promo {
    display: grid;
    grid-column: 1/2;
    grid-template-columns: repeat(2, 200px);
  }
}

.nav__link {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.nav__sale-text {
  display: none;
}
@media (min-width: 768px) {
  .nav__sale-text {
    display: block;
  }
}
@media (min-width: 1150px) {
  .nav__sale-text {
    grid-column: 3/4;
  }
}

@media (max-width: 320px) {
  .nav--opened .nav__toggle {
    background-image: url("../img/svg/icon-menu-close.svg");
  }
}

@media (max-width: 320px) {
  .nav--opened .nav__list--main,
.nav--opened .nav__list--user {
    display: block;
  }
}

.topic {
  padding: 73px 0;
  background-color: #f1f1f1;
}

.topic--home {
  position: relative;
  padding-bottom: 0;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top -17px;
}

.topic--home .topic__container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

@media (max-width: 320px) {
  .topic__title {
    font-size: 27px;
  }
}

@media (min-width: 768px) {
  .topic__catalog-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.topic__catalog-item {
  display: block;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

.promo__container {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .promo__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1150px) {
  .promo__container {
    grid-template-columns: 1fr 525px;
  }
}

@media (min-width: 768px) {
  .promo__title-container {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 125px;
  }
}
@media (min-width: 1150px) {
  .promo__title-container {
    grid-row: 1/span 1;
  }
}

@media (min-width: 1150px) {
  .promo__title {
    z-index: 1;
  }
}

.promo__type {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}
@media (min-width: 1150px) {
  .promo__type {
    position: absolute;
    top: 70px;
    left: 82px;
    max-width: 100px;
  }
}

.promo__text {
  font-size: 15px;
  line-height: 24px;
}

.promo__description {
  display: grid;
  line-height: 20px;
  grid-template-columns: 98px 1fr;
}

.promo__image {
  width: 100%;
  max-width: 350px;
  height: 315px;
  margin: 12px auto;
}
@media (min-width: 768px) {
  .promo__image {
    width: 334px;
    height: 404px;
    margin-bottom: 0;
    grid-column: span 1/-1;
    grid-row: 2/span 3;
  }
}
@media (min-width: 1150px) {
  .promo__image {
    width: 525px;
    max-width: 100%;
    height: 636px;
    margin: 0;
    grid-row: 1/span 5;
  }
}

.promo__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.promo__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.about__title {
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .reviews {
    position: relative;
    background-image: url("../img/reviews.jpg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1150px) {
  .reviews {
    background: none;
  }
}

.reviews__container {
  display: grid;
}
@media (min-width: 768px) {
  .reviews__container {
    grid-template-columns: 1fr 175px;
  }
}
@media (min-width: 1150px) {
  .reviews__container {
    background-image: url("../img/reviews.jpg");
    background-repeat: no-repeat;
    background-position: top left 50px;
    background-size: 350px 457px;
  }
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.reviews__item {
  display: none;
}

.reviews__item--active {
  display: block;
}

.reviews__desc {
  font-size: 15px;
  line-height: 30px;
}

.reviews__name {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.reviews__email {
  font-size: 17px;
  line-height: 24px;
}

.reviews__button {
  order: 1;
}
@media (min-width: 768px) {
  .reviews__button {
    grid-column: 2/-1;
    grid-row: 1/2;
  }
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  color: #231f20;
  cursor: pointer;
}

.social__link svg {
  fill: currentColor;
}

.copyright__text {
  font-weight: 700;
  font-size: 19px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.contacts__container {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr;
}
@media (min-width: 1150px) {
  .contacts__container {
    grid-template-columns: 1fr auto;
  }
}

.contacts__item {
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}

.contacts__button {
  order: 1;
  width: 260px;
  margin: 0 auto;
}

.contacts__map {
  width: 100%;
  height: 454px;
}
@media (min-width: 1150px) {
  .contacts__map {
    width: 527px;
    grid-column: -1/-2;
    grid-row: 1/span 2;
  }
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.contacts__map-img {
  display: none;
}

.form {
  margin-right: 60px;
  margin-left: 60px;
}

.form__desc {
  font-size: 13px;
  line-height: 24px;
}

.form__section-name {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.form__label-text {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.form__section--check {
  background-color: #444444;
}

.form__input {
  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.form__section--contacts {
  background-color: #444444;
}

.form__hint {
  font-size: 14px;
  line-height: 16px;
}

.video__container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
}
@media (min-width: 1150px) {
  .video__container {
    max-width: 1048px;
    padding: 0;
    gap: 17px 59px;
    grid-template-columns: 683px 1fr;
    grid-template-rows: auto 1fr;
  }
}

.video__image {
  position: relative;
  height: 150px;
}
@media (min-width: 768px) {
  .video__image {
    height: 455px;
  }
}
@media (min-width: 1150px) {
  .video__image {
    width: 683px;
    height: 453px;
    grid-row: 1/span 2;
  }
}

.video__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  width: 101px;
  height: 77px;
  background-image: url("../img/svg/play-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video__title {
  order: -1;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 768px) {
  .video__title {
    order: 0;
    font-size: 20px;
  }
}

.video__desc {
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: 1150px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__image {
  display: block;
  height: 195px;
}
@media (min-width: 768px) {
  .catalog__image {
    height: 334px;
  }
}
@media (min-width: 1150px) {
  .catalog__image {
    height: 462px;
  }
}

.catalog__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog__title {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.catalog__item-desc {
  font-size: 13px;
  line-height: 30px;
}

.catalog__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.footer {
  font-size: 18px;
  line-height: 20px;
  background-color: #f1f1f1;
}

@media (min-width: 768px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
  }
}

.footer__logo {
  display: none;
  width: 102px;
  height: 34px;
  color: #000000;
}
@media (min-width: 768px) {
  .footer__logo {
    display: block;
  }
}

.footer__logo svg {
  fill: currentColor;
}

.footer__social {
  display: grid;
  grid-template-columns: repeat(3, 50px);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  display: none;
  max-width: 566px;
  background: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  transform: translate(-50%, -50%);
}

.size__title {
  font-size: 25px;
  color: #000000;
  text-transform: uppercase;
  line-break: 30px;
}

.size__text {
  font-size: 15px;
  line-height: 30px;
}

.size__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}
/*# sourceMappingURL=style.css.map */