.about__title {
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
// .about__item
// .about__item--ecolog
// .about__item--rusprice
// .about__item--like
// .about__item--handmade
// .about__item--support
// .about__item--gift
