.about__title {
  font-weight: 700;
  font-size: 43px;
  font-family: $font-regular;
}

.about__list {
  font-weight: 700;
  font-size: 20px;
  font-family: $font-regular;
}
// .about__item
// .about__item--ecolog
// .about__item--rusprice
// .about__item--like
// .about__item--handmade
// .about__item--support
// .about__item--gift
