.button {
  display: block;
  width: 100%;
  padding: 14px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: $font-regular;
  text-align: center;
  color: $grey;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ffffff;
  border: 2px solid $grey;
  cursor: pointer;

  &:hover {
    color: #ffffff;

    background-color: #444444;
  }

  &:disabled {
    color: #ffffff 30%;

    background-color: #444444;
  }
}
