//.catalog {
//}
//.catalog__container {
//}
//.container {
//}
//.catalog__list {
//}
//.catalog__item {
//}
//.catalog__image {
//}
//.catalog__list-container {
//}
//.catalog__descrip {
//}
.catalog__title {
  font-size: 17px;
  line-height: 24px;
  color: $primary-color;
}

.catalog__item-desc {
  font-size: 13px;
  line-height: 30px;
}

//.catalog__price-wrapper {
//}
.catalog__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: $primary-color;
}
//.catalog__cart {
//}
