//.catalog {
//}
//.catalog__container {
//}
//.container {
//}
//.catalog__list {
//}
//.catalog__item {
//}
//.catalog__image {
//}
//.catalog__list-container {
//}
//.catalog__descrip {
//}
.catalog__title {
  font-weight: 700;
  font-size: 20px;
  font-family: $font-regular;
}

.catalog__item-desc {
  font-weight: 400;
  font-size: 15px;
  font-family: $font-regular;
  color: #444444;
}

//.catalog__price-wrapper {
//}
.catalog__price {
  font-weight: 700;
  font-size: 17px;
  font-family: $font-regular;
  color: $primary-color;
}
//.catalog__cart {
//}
