.catalog {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 112px;
  }
}

//.catalog__container {
//}
//.container {
//}

.catalog__list {
  display: grid;

  gap: 30px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    gap: 54px;
  }

  @media (min-width: $desktop-width) {
    display: grid;

    gap: 51px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__item {
  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }

  &:disabled {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 3px;
  }
}

.catalog__image {
  display: block;
  height: 195px;

  @media (min-width: $tablet-width) {
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    height: 462px;
  }
}

.catalog__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog__list-container {
  padding: 28px 28px 25px;

  border: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 27px 33px 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 27px 25px;
  }
}

//.catalog__descrip {
//}
.catalog__title {
  text-decoration: none;
}

.catalog__title h3 {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  &:hover {
    opacity: 60%;
  }

  &:disabled {
    opacity: 30%;
  }
}

.catalog__item-desc {
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.catalog__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 23px;

  border-top: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}

.catalog__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: $black;
}

.catalog__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 19px;

  color: rgba(0, 0, 0, 0.2);
}

.catalog__cart svg {
  width: 100%;
  height: 100%;

  fill: currentColor;

  &:hover {
    fill: #63d1bb;
  }

  &:disabled {
    fill: #63d1bb;
  }
}
