//.contacts

.contacts__container {
  display: grid;
  align-items: start;

  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr auto;
  }
}

//.contacts__text {
.contacts__title {
  height: 100px;
  margin-top: 40px;

  text-align: start;

  @media (min-width: $tablet-width) {
    display: grid;
    margin-left: 95px;

    background-image: url("../../img/svg/flag.svg");
    background-repeat: no-repeat;

    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: $desktop-width) {
    margin-left: -5px;
  }
}

.contacts__list {
  display: grid;

  grid-template-columns: repeat(2, auto);
}

.contacts__item {
  font-size: 14px;
  line-height: 30px;
  color: $grey;
}

.contacts__item a {
  color: $grey;
  text-decoration: underline #62d1ba;
}

.contacts__button {
  order: 1;
  width: 260px;
  margin: 0 auto;
}

.contacts__map {
  width: 100%;
  height: 454px;
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    width: 527px;

    grid-column: -1 / -2;
    grid-row: 1 / span 2;
  }
}

.contacts__map iframe {
  width: 100%;
  height: 100%;

  border: none;
}

.contacts__map-img {
  display: none;
}
