//.contacts
//.contacts__container
//.container
//.contacts__text
.contacts__title {
  font-weight: 700;
  font-size: 43px;
  font-family: $font-regular;
  color: $primary-color;
}

//.title
.contacts__list {
  font-weight: 400;
  font-size: 17px;
  font-family: $font-regular;
  color: #444444;
}
//.contacts__item
//.contacts__button
//.button
//.contacts__map
//.contacts__map-img
