//.contacts
//.contacts__container
//.container
//.contacts__text
.contacts__title {
  font-size: 25px;
  line-height: 30px;
  color: $black;
}

//.title
.contacts__list {
  font-size: 14px;
  line-height: 30px;
  color: $grey;
}

//.contacts__item
//.contacts__button
//.button
//.contacts__map
.contacts__map-img {
  display: none;
}
