.footer {
  height: 100%;
  margin-top: 40px;

  font-size: 18px;
  line-height: 20px;

  background-color: #f1f1f1;
}

.footer__wrapper {
  display: grid;
  padding: 50px;

  justify-items: center;
  row-gap: 50px;

  @media (min-width: $tablet-width) {
    display: grid;
    padding: 50px;

    grid-template-columns: auto 1fr auto;
    justify-items: center;
  }
}

.footer__logo {
  display: none;
  width: 102px;
  height: 34px;

  color: #000000;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.footer__logo svg {
  fill: currentColor;
}

.footer__social {
  display: grid;

  grid-template-columns: repeat(3, 50px);
}
