.form {
  margin-right: 60px;
  margin-left: 60px;
}

.form__desc {
  font-size: 13px;
  line-height: 24px;
}

//.form__section {
//}
//.form__section--radio {
//}
//.form__container {
//}
.form__section-name {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

//.form__section-name--lines {
//}
//.form__input-wrapper {
//}
//.form__label {
//}
//.form__input-control {
//}
//.form__input-control--radio {
//}
//.form__label-control {
//}
//.form__label-control--radio {
//}
.form__label-text {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $black;
}

.form__section--check {
  background-color: $grey;
}

//.form__label--check {
//}
//.form__input-control--checkbox {
//}
//.form__label-control--check {
//}
//.form__section--data {
//}
//.form__input-group {
//}
.form__input {
  font-size: 17px;
  line-height: 18px;
  font-family: $font-regular;
}

.form__section--contacts {
  background-color: $grey;
}

//.form__label-contacts {
//}
//.form__label-contacts--tel {
//}
//.form__label-contacts--mail {
//}
//.form__section--message {
//}
//.form__section--submit {
//}
//.form__button {
//}
.form__hint {
  font-size: 14px;
  line-height: 16px;
}
