@media (min-width: $tablet-width) {
  .nav__logo {
    height: $logo-tablet-height;
  }
}

@media (min-width: $desktop-width) {
  .nav__logo {
    height: $logo-desktop-height;
  }
}

@media (min-width: $mobile-width) {
  display: none;
}

@media (min-width: $tablet-width) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    width: $tablet-width;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    width: $desktop-width;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .nav__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .nav__logo-container {
    align-self: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .nav__logo-container {
    align-self: flex-start;
  }
}
