// .nav
// .nav__toggle
// .nav__logo-container
// .nav__logo
// .nav__list
// .nav__list--main
// .nav__item
.nav__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $primary-color;
}

// .nav__list--user
// .nav__link--icon
// .nav__link--search
.nav__link--cart {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $primary-color;
}

// .nav__list--promo
//.nav__sale-text {
//}
