// .promo {
// }
// .promo__container {
// }
// .promo__title-container {
// }
.promo__title {
  font-weight: 700;
  font-size: 43px;
  font-family: $font-regular;
}

.promo__type {
  font-weight: 700;
  font-size: 17px;
  font-family: $font-regular;
  color: #63d1bb;
}

.promo__text {
  font-weight: 400;
  font-size: 17px;
  font-family: $font-regular;
  color: #444444;
}

.promo__description {
  font-weight: 400;
  font-size: 15px;
  font-family: $font-regular;
  color: #444444;
}

// .promo__item {
// }
// .promo__image {
// }
// .promo__price-container {
// }
.promo__price {
  font-weight: 700;
  font-size: 20px;
  font-family: $font-regular;
  color: #444444;
}
// .promo__button {
// }
