// .promo {
// }
// .promo__container {
// }
// .promo__title-container {
// }
.promo__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.promo__type {
  font-weight: 700;
  font-size: 17px;
  color: #63d1bb;
  text-transform: uppercase;
}

.promo__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.promo__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

// .promo__item {
// }
// .promo__image {
// }
// .promo__price-container {
// }
.promo__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
// .promo__button {
// }
