.reviews {
  background-image: url("../../img/reviews.jpg");
  background-repeat: no-repeat;
}

// .reviews__container {
// }
.reviews__title {
  font-weight: 700;
  font-size: 43px;
  font-family: $font-regular;
  color: $primary-color;
}

// .reviews__list {
// }
// .list-reset {
// }
// .reviews__item {
// }
// .reviews__item--active {
// }
.reviews__desc {
  font-weight: 400;
  font-size: 17px;
  font-family: $font-regular;
}

//.reviews__author {
//}
.reviews__name {
  font-size: 18px;
  font-family: $font-regular;
  color: $primary-color;
}

.reviews__email {
  font-size: 17px;
  font-family: $font-regular;
  color: #444444;
}
// .reviews__button {
// }
// .reviews__control {
// }
// .reviews__control-arrow {
// }
// .reviews__control-arrow--prev {
// }
// .reviews__control-arrow--next {
// }
