.reviews {
  padding-top: 25px;
  padding-bottom: 51px;

  @media (min-width: $desktop-width) {
    background: none;
  }
}

.reviews__container {
  display: grid;

  gap: 14px;

  @media (min-width: $tablet-width) {
    position: relative;

    padding-top: 83px;
    padding-bottom: 130px;

    background-image: url("../img/reviews.jpg");
    background-image: -webkit-image-set(
      url("../img/reviews.webp") type("image/webp"),
      url("../img/reviews.jpg") type("image/jpeg")
    );
    background-image:         image-set(
      url("../img/reviews.webp") type("image/webp"),
      url("../img/reviews.jpg") type("image/jpeg")
    );
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 350px 457px;

    grid-template-columns: 1fr 175px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review@2x.jpg");
      background-image: -webkit-image-set(
        url("../img/review@2x.webp") type("image/webp"),
        url("../img/review@2x.jpg") type("image/jpeg")
      );
      background-image:         image-set(
        url("../img/review@2x.webp") type("image/webp"),
        url("../img/review@2x.jpg") type("image/jpeg")
      );
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;

    padding: 77px 50px 93px 225px;

    background-image: url("../img/reviews.jpg");
    background-image: -webkit-image-set(
      url("../img/reviews.webp") type("image/webp"),
      url("../img/reviews.jpg") type("image/jpeg")
    );
    background-image:         image-set(
      url("../img/reviews.webp") type("image/webp"),
      url("../img/reviews.jpg") type("image/jpeg")
    );
    background-repeat: no-repeat;
    background-position: top left 50px;
    background-size: 350px 457px;

    gap: 14px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review@2x.jpg");
      background-image: -webkit-image-set(
        url("../img/review@2x.webp") type("image/webp"),
        url("../img/review@2x.jpg") type("image/jpeg")
      );
      background-image:         image-set(
        url("../img/review@2x.webp") type("image/webp"),
        url("../img/review@2x.jpg") type("image/jpeg")
      );
      background-repeat: no-repeat;
    }
  }
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  text-align: start;
  color: $black;
}

.reviews__list {
  @media (min-width: $tablet-width) {
    grid-column: 1 /-1;
    grid-row: 2 / 3;
  }
}

.reviews__item {
  display: none;
}

.reviews__item--active {
  display: block;
}

.reviews__desc {
  font-size: 15px;
  line-height: 30px;
}

//.reviews__author {
//}
.reviews__name {
  font-size: 17px;
  line-height: 24px;
  color: $black;
}

.reviews__email {
  font-size: 17px;
  line-height: 24px;
}

.reviews__button {
  order: 1;

  @media (min-width: $tablet-width) {
    grid-column: 2/-1;
    grid-row: 1/2;
  }
}

.reviews__control {
  display: grid;
  margin-top: 14px;
  margin-bottom: 23px;

  border: 1px solid #ececec;

  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 50px;
    bottom: 141px;

    width: 175px;
    margin: 0;

    border: none;
  }

  @media (min-width: $desktop-width) {
    bottom: 104px;
  }
}

.reviews__control-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;
  padding: 0;

  color: #000000;

  background-color: transparent;
  background-position: center;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: 35px;
  }

  &--prev {
    border-left: 1px solid #ececec;
    transform: rotate(-180deg);

    @media (min-width: $tablet-width) {
      border: none;
    }
  }
}

.reviews__control-arrow svg {
  width: 50px;
  height: 26px;

  fill: currentColor;

  &:hover {
    opacity: 60%;
  }

  &:disabled {
    opacity: 30%;
  }
}
