//.size__form {
//}
.size__title {
  font-weight: 700;
  font-size: 30px;
  font-family: $font-regular;
}

.size__text {
  font-weight: 400;
  font-size: 17px;
  font-family: $font-regular;
}

//.size__container {
//}
//.size__item {
//}
//.visually-hidden {
//}
//.size__input {
//}
.size__label {
  font-weight: 700;
  font-size: 17px;
  font-family: $font-regular;
}
//.button {
//}
//.size__submit {
//}
