//.size__form {
//}
.size__title {
  font-weight: 700;
  font-size: 25px;
  color: $primary-color;
  text-transform: uppercase;

  line-break: 30px;
}

.size__text {
  font-size: 15px;
  line-height: 30px;
}

//.size__container {
//}
//.size__item {
//}
//.visually-hidden {
//}
//.size__input {
//}
.size__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}
//.button {
//}
//.size__submit {
//}
