.social {
  display: grid;
  justify-content: center;
  padding: 27px 0 31px;

  border-bottom: 1px solid #e5e5e5;

  gap: 27px;
  grid-template-columns: repeat(3, auto);

  @media (min-width: $tablet-width) {
    padding: 0;

    border: none;
  }
}

// .social__item

.social__link {
  display: block;
  width: 28px;
  height: 22px;

  color: #231f20;

  cursor: pointer;
}

.social__link svg {
  fill: currentColor;

  &:hover {
    fill: #46c1ae;
  }

  &:disabled {
    opacity: 30%;

    fill: #46c1ae;
  }
}
