.topic {
  padding: 73px 0;

  background-color: #f1f1f1;
}

.topic--home {
  position: relative;

  padding-bottom: 0;

  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top -17px;

  @media (min-width: $tablet-width) {
    padding-top: 106px;

    background-image: url("../img/hero-tablet.jpg");
    background-position: center bottom 11px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 96px;

    background-image: url("../img/hero-desktop.jpg");
    background-position: center bottom 17px;
  }
}

.topic--home .topic__container {
  display: flex;
  flex-direction: column;
  min-height: 415px;

  background-color: transparent;

  @media (min-width: $tablet-width) {
    min-height: 602px;
  }

  @media (min-width: $desktop-width) {
    min-height: 604px;
  }
}

.topic__title {
  text-align: center;

  @media (max-width: 767px) {
    font-size: 27px;
  }
}

.topic__catalog-links {
  margin: auto -30px 0;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }
}

.topic__catalog-item {
  position: relative;

  display: block;
  padding: 24px 115px 31px 30px;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;

  background-color: #63d1bb;

  @media (min-width: $tablet-width) {
    padding: 26px 115px 45px 36px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 50px;
  }

  &:hover,
  &:focus {
    @media (min-width: $tablet-width) {
      background-color: #59d5bc;
      outline: none;
      transform: translateY(-5px);
    }
  }
}

.topic__catalog-item:nth-child(2n) {
  background-color: #56c3b2;

  &:hover,
  &:focus {
    background-color: #46c1ae;
  }
}

.topic__catalog-item span {
  display: block;
  max-width: 130px;
}

.topic__catalog-item svg {
  position: absolute;
  right: 36px;
  bottom: 20px;

  opacity: 0.5;

  fill: #149080;

  @media (min-width: $tablet-width) {
    bottom: 39px;
  }
}

.topic__catalog-item:active svg {
  opacity: 0.3;
}

.topic__catalog-item--toys svg {
  right: 27px;

  @media (min-width: $tablet-width) {
    right: 33px;
  }
}
