.topic {
  padding: 73px 0;

  background-color: #f1f1f1;
}

.topic--home {
  position: relative;

  padding-bottom: 0;

  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top -17px;
}

.topic--home .topic__container {
  display: flex;
  flex-direction: column;

  background-color: transparent;
}

.topic__title {
  @media (max-width: 320px) {
    font-size: 27px;
  }
}

.topic__catalog-links {
  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }
}

.topic__catalog-item {
  display: block;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

//.topic__catalog-item--interior {
//}

//.topic__catalog-item--toys {
//}
