//.video {
//}
//.video__container {
//}
//.video__image {
//}
//.video__play {
//}
.video__title {
  font-weight: 700;
  font-size: 20px;
  font-family: $font-regular;
  color: $primary-color;
}

.video__desc {
  font-weight: 400;
  font-size: 15px;
  font-family: $font-regular;
  color: #444444;
}
//.video__text {
//}
//.video__button {
//}
