$font-regular: "Open Sans", "Arial", sans-serif;
$black: #000000;
$grey: #444444;
$mobile-width: 320px;
$tablet-width: 718px;
$desktop-width: 1150px;
$logo-mobile-height: 34.9px;
$logo-tablet-height: 45.9px;
$logo-desktop-height: 72px;
